<!DOCTYPE html>
<html>
    <head>
        <title>404 - Page not found</title>
        <link rel="icon" href="../../public/img/tab-icon.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>{{massage}}</h2>
        </div>
        {{>footer}}
    </body>
</html>